h1{
    width:100%;
    font-size:40px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background: #2E4172;
    border: 1px solid white;
}
body{
    background-color: #226666;
}

main{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open        Sans', 'Helvetica Neue', sans-serif;
    text-align:center;
    background-color: #2E4172;
    border: 1px solid white;
    margin-bottom:5px;
    padding: 30px;
    
}

div{
    padding: 5px;
    border-color: whitesmoke;
    border: 1px solid whitesmoke;
    background-color: #2E4172;
}
img{
    background-color: whitesmoke;
    width:30%;
    height: 40%;
    margin-left: 35%;
    border: 1px solid whitesmoke;
}

footer{
    text-align:center;
    color:white;
}

h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}